//- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs

//- https://realfavicongenerator.net/
//- https://realfavicongenerator.net/favicon_checker?protocol=https&site=www.fundalytica.com

link(rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png')

link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#000')

link(rel='manifest' href='/favicon/site.webmanifest')
meta(name='theme-color' content='#ffffff')

meta(name="msapplication-config", content="/favicon/browserconfig.xml")
meta(name='msapplication-TileColor' content='#da532c')