footer.container.d-flex.flex-row.flex-wrap.align-items-center
	a.col.d-flex.flex-column.align-items-center.pb-4(href='/')
		.footer-icon.mb-3
			img(src='/images/logo-dark.svg')
		small.text-muted.text-nowrap &copy; Fundalytica 2019 - &infin;

	a.col.d-flex.flex-column.align-items-center.pb-4(href='https://www.instagram.com/fundalytica' target='_blank')
		.footer-icon.mb-3
			i.fab.fa-instagram
		small.text-muted.text-nowrap Follow on Instagram

	a.col.d-flex.flex-column.align-items-center.pb-4(href='/digitalocean' target='_blank')
		.footer-icon.mb-3
			img(src='/images/made/DO_Logo_icon_blue.svg')
		small.text-muted.text-nowrap Hosted on DigitalOcean