footer.d-flex.flex-row.flex-wrap.justify-content-center.pb-4
    a.d-flex.flex-column.align-items-center(href='/').mx-4
        .p-3
            img(src='/images/logos/logo-dark.svg' alt='fundalytica logo')
        small.text-muted.text-nowrap &copy; Fundalytica 2019 - &infin;

    a.d-flex.flex-column.align-items-center(href='https://discord.gg/7yHcTcPZgk' target='_blank' rel="noopener").mx-4
        .p-3
            i.fab.fa-discord
        small.text-muted.text-nowrap Join us on Discord

    a.d-flex.flex-column.align-items-center(href='https://www.instagram.com/fundalytica' target='_blank' rel="noopener").mx-4
        .p-3
            i.fab.fa-instagram
        small.text-muted.text-nowrap Follow on Instagram

    a.d-flex.flex-column.align-items-center(href='mailto:contact@fundalytica.com' target='_blank').mx-4
        .p-3
            i.fas.fa-paper-plane
        small.text-muted.text-nowrap Send us an email