header.sticky-top.bg-grey-800
    //- .container.py-2
    //-     .row.align-items-center
    //-         a.col.text-center(href='https://www.fundalytica.com')
    //-             .d-flex.d-flex-row.justify-content-center.align-items-center
    //-                 img.mr-2(src='/images/logos/logo-bright.svg')
    //-                 p.m-0 Fundalytica
    //-         a.col.text-center(href='mailto:contact@fundalytica.com')
    //-             .d-flex.d-flex-row.justify-content-center.align-items-center
    //-                 i.mr-2.fas.fa-paper-plane
    //-                 p.m-0 Contact
    //-         a.col.text-center(href='https://blog.fundalytica.com').p-0
    //-             .d-flex.d-flex-row.justify-content-center.align-items-center
    //-                 i.mr-2.fas.fa-pen
    //-                 p.m-0 Blog

    //- .d-flex.justify-content-center.align-items-center.py-3(style="overflow: hidden")
    //-     a(href='https://www.fundalytica.com').px-3
    //-         .d-flex.align-items-center
    //-             img.mr-2(src='/images/logos/logo-bright.svg')
    //-             p.m-0 Fundalytica
    //-     a(href='mailto:contact@fundalytica.com').px-3
    //-         .d-flex.align-items-center
    //-             i.mr-2.fas.fa-paper-plane
    //-             p.m-0 Contact
    //-     a(href='https://blog.fundalytica.com').px-3
    //-         .d-flex.align-items-center
    //-             i.mr-2.fas.fa-pen
    //-             p.m-0 Blog

    .d-flex.justify-content-around.align-items-center.py-3
        .d-flex
            a(href='https://www.fundalytica.com').px-2
                .d-flex.align-items-center
                    img.mr-2(src='/images/logos/logo-bright.svg')
                    p.m-0 Fundalytica
        .d-flex
            a(href='mailto:contact@fundalytica.com').px-2   
                .d-flex.align-items-center
                    i.mr-2.fas.fa-paper-plane
                    p.m-0 Contact
            a(href='https://blog.fundalytica.com').px-2
                .d-flex.align-items-center
                    i.mr-2.fas.fa-pen
                    p.m-0 Blog                