header.sticky-top.bg-grey-800
    .container.d-flex.flex-row.align-items-center.py-3
        a.col.d-flex.align-items-center.justify-content-center(href='https://www.fundalytica.com')
            img.p-1(src='/images/logos/logo-bright.svg')
            p.m-0 Fundalytica

        a.col.d-flex.flex-row.align-items-center.justify-content-center.text-nowrap(href='mailto:contact@fundalytica.com')
            i.fas.fa-paper-plane.mr-2
            p.m-0 Keep in touch
