header.sticky-top
    .container.d-flex.flex-row.align-items-center.py-3
        a.col.d-flex.align-items-center.justify-content-center(href='https://www.fundalytica.com')
            img.p-1(src='/images/logo-bright.svg')
            p.m-0 Fundalytica

        a.col.d-flex.flex-row.align-items-center.justify-content-center.text-nowrap(href='mailto:contact@fundalytica.com')
            i.fas.fa-envelope.mr-1
            p.m-0 Contact us