//- https://ogp.me/
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.fundalytica.com//">
<meta property="og:title" content="Fundalytica 📈">
<meta property="og:image" content="https://fundalytica.com/images/social/twitter_card.jpg">

meta(property="og:description" content= description)

//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup
//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
//- https://cards-dev.twitter.com/validator
//- <meta name="twitter:card" content="summary">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fundalytica">
<meta name="twitter:creator" content="@fotiosdotcom">
//- <meta name="twitter:image" content="https://fundalytica.com/images/social/twitter_card.jpg">