//- https://ogp.me/
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.fundalytica.com//">
<meta property="og:title" content="Fundalytica">
<meta property="og:image" content="https://fundalytica.com/social/og_image.png">
meta(property="og:description" content= description)

<meta property="og:video" content="https://fundalytica.com/social/og_video.mp4">
<meta property="og:video:type" content="video/mp4"/>
<meta property="og:video:width" content="640"/>
<meta property="og:video:height" content="360"/>

//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup
//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
//- https://cards-dev.twitter.com/validator
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fundalytica">
<meta name="twitter:creator" content="@fotiosdotcom">
//- <meta name="twitter:image" content="https://fundalytica.com/social/og_image.png">