extends layout

block links
    link(href='/stylesheets/dip.css' rel='stylesheet')

block scripts
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='/javascripts/dip.js' type='module')

block content
    main.d-flex.flex-column.p-4
        div.d-flex.flex-column.align-items-center
            p#title.red-600.m-0.p-1
            input#slider.slider(type="range" min="5" max="90" step="5").d-none
            p#subtitle.red-600.m-0.p-1
            p#dates.small.m-0.p-1

        #chart.d-none

        div.d-flex.flex-grow-1.justify-content-center

            div.align-self-center
                #spinner.spinner-border.text-danger(role="status").d-none
                    span.sr-only

            div.align-self-center
                p#error.text-danger