extends layout

block style
    link(href='/stylesheets/crypto.css' rel='stylesheet')
    link(href='/stylesheets/animation.css' rel='stylesheet')
    link(href='/stylesheets/no_more_tables.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/10.2.6/css/autoComplete.02.min.css' rel='stylesheet')

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/10.2.6/autoComplete.min.js')

    script(src='/javascripts/crypto.js' type='module')

block content
    main.d-flex.flex-column.justify-content-center.text-center.p-4
        div.align-self-center.p-2
            h3.text-dark Digital Assets Portfolio

            p(id="demoText").text-primary.d-none #demo

            button(id="createButton").btn.btn-primary.text-nowrap.mt-4.d-none Create Your Own Portfolio
            button(id="updateButton").btn.btn-success.text-nowrap.mt-4.d-none Update Portfolio

            - var url = `${locals.api_origin}/v1/crypto/portfolio/update`
            form(id="updateForm" method="POST" action=url).container.mt-4.d-none
                .row.justify-content-center
                    .col
                        .btn-group(id="btn-group-alert" role="group")
                            input.btn-check(type="radio" name="action" id="btn-radio-buy" value="buy" checked)
                            label.btn.btn-outline-primary(for="btn-radio-buy") Buy
                            input.btn-check(type="radio" name="action" id="btn-radio-sell" value="sell")
                            label.btn.btn-outline-primary(for="btn-radio-sell") Sell

                .row.g-2.mt-2.justify-content-center
                    .col-4.col-md-4
                        input(type="number" id="amountInput" name="amount" step="any" min="0" placeholder="amount" required).form-control

                    .col-4.col-md-4
                        input(type="text" id="symbolInput" name="symbol" placeholder="symbol" pattern="[a-zA-Z'-'\s]*" required).form-control

                    .col-5.col-md-4
                        .input-group
                            span.input-group-text $
                            input(type="number" id="costInput" name="cost" step="any" min="0" placeholder="total" required).form-control

                .row.g-2.mt-2.justify-content-center
                    .col-auto
                        button(id="formCloseButton").btn.btn-outline-secondary.text-nowrap Back

                    .col-auto
                        button(id="formSubmitButton").btn.btn-outline-success.text-nowrap Submit

            p(id="message").mt-4.small.text-primary.d-none

            div(id="trades").px-5.mt-5.d-none
                h3.text-dark Details
                table(id="tableTrades").table.table-sm.table-striped.small.mt-2
                button(id="tradesCloseButton").btn.btn-sm.btn-outline-secondary.text-nowrap Close

            div(id="positions").d-flex.flex-wrap.justify-content-center.mt-5.d-none

        div.d-flex.flex-grow-1.justify-content-center
            div.align-self-center
                .spinner-border.text-success(id="spinner" role="status")

            div.align-self-center
                p.text-danger(id="error").d-none