extends layout

block links
    link(href='/stylesheets/dip.css' rel='stylesheet')

block scripts
    //- script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='/javascripts/dip.js' type='module')

block content
    main.text-center.p-4
        p#title.red-600
        input.slider(type="range" min="5" max="90", step="5")
        p#subtitle.small.red-600
        p#dates.small
        #chart.m-0.p-0
        //- #p Data Table (Edge Cases, All Dips, All ATH)