extends layout

block links
    link(href='/stylesheets/dip.css' rel='stylesheet')

block scripts
    //- script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')
    script(src='/javascripts/dip.js' type='module')

block content
    .text-center.p-4
        #chart
