extends layout

block style
    link(href='/stylesheets/futures.css' rel='stylesheet')
    link(href='/stylesheets/no_more_tables.css' rel='stylesheet')

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')

    script(src='/javascripts/futures.js' type='module')

block content
    main.d-flex.flex-column.justify-content-center.text-center.p-4
        div.align-self-center.p-2
            h3.text-dark.p-0.m-0 Crypto Futures Premiums

            a(href="https://futures.kraken.com" target="_blank")
                img(class="exchange" src="https://www.fundalytica.com/images/logos/crypto/kraken.svg")

            p.small.text-primary(id="socket")

            .no-more-tables.pt-2
                table.table.small(id="table-futures").d-none
                    thead.table-dark
                        tr
                            th id
                            th first
                            th last
                    tbody
                        tr
                            td(data-title="id") 1
                            td(data-title="first") Steve
                            td(data-title="last") Jobs
                        tr
                            td(data-title="id") 2
                            td(data-title="first") Bill
                            td(data-title="last") Gates
                        tr
                            td(data-title="id") 3
                            td(data-title="first") Elon
                            td(data-title="last") Musk


        div.d-flex.flex-grow-1.justify-content-center
            div.align-self-center
                .spinner-border.text-success(id="spinner" role="status")
                    span.sr-only Loading...

            div.align-self-center
                p.text-danger(id="error").d-none