doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        include includes/social.pug

        title Fundalytica

        include includes/favicon.pug

        //- Bootstrap
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        //- Font Awesome
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
        //- https://htmlcolorcodes.com/
        link(href='/stylesheets/material_design_bg_colors_full.css' rel='stylesheet')
        //- bg custom
        link(href='/stylesheets/material_design_colors_full.css' rel='stylesheet')
        
        link(href='/stylesheets/style.css' rel='stylesheet')
        link(href='/stylesheets/quotes.css' rel='stylesheet')
        link(href='/stylesheets/topics.css' rel='stylesheet')

        //- block links

        //- block style

    body.bg-amber-50
        include includes/header.pug
        block content
        include includes/footer.pug

        //- jQuery
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        //- Bootstrap
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')

        block scripts
