extends layout

block style
    link(href='/stylesheets/leaps.css' rel='stylesheet')
    link(href='/stylesheets/no_more_tables.css' rel='stylesheet')

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')

    script(src='/javascripts/leaps.js' type='module')

block content
    main.d-flex.flex-column.justify-content-center.text-center.p-4
        div.align-self-center.p-2
            h3.text-dark= title

            p.small(id="date").d-none

            div.d-flex.flex-row.align-items-start
                .dropdown.mx-1
                    button.btn.btn-sm.btn-secondary.dropdown-toggle(type="button" id="dropdown-sort" data-bs-toggle="dropdown" aria-expanded="false").d-none.mb-2
                    ul.dropdown-menu(id="dropdown-menu-sort" aria-labelledby="dropdown-sort")

                .btn-group(id="btn-group-order" role="group" aria-label="toggle button group").mx-1.d-none
                    input.btn-check(type="radio" name="btnradio" id="btn-radio-asc" autocomplete="off" checked)
                    label.btn.btn-outline-secondary.btn-sm(for="btn-radio-asc") asc
                    input.btn-check(type="radio" name="btnradio" id="btn-radio-desc" autocomplete="off")
                    label.btn.btn-outline-secondary.btn-sm(for="btn-radio-desc") desc


        - var ids = ['puts', 'calls', 'warrants']
        each id in ids
            a.btn(id="toggle-"+id data-bs-toggle='collapse' href='#no-more-tables-'+id aria-expanded='true' aria-controls="no-more-tables-"+id).d-none
                i.fa.fa-table.px-2
                span(id="count-"+id)
                i.fa.fa-angle-down.px-2
                i.fa.fa-angle-up.px-2

                div(id="info-"+id).justify-content-center.align-items-center.flex-wrap.small.d-none.py-1
                    p.info(id="basis-"+id).px-2.py-1
                    p.info(id="value-"+id).px-2.py-1
                    p.info(id="profit-"+id).px-2.py-1
                    p.info(id="assignment-"+id).px-2.py-1

            .no-more-tables(id="no-more-tables-"+id).collapse.show
                table.table.table-sm.small(id="table-"+id).d-none
                    thead.table-dark
                    tbody

        div.d-flex.flex-grow-1.justify-content-center
            div.align-self-center
                .spinner-border.text-success(id="spinner" role="status").d-none
                    span.sr-only

            div.align-self-center
                p.text-danger(id="error").d-none