extends layout

block style
    //- link(href='/stylesheets/login.css' rel='stylesheet')

block content
    main.d-flex.flex-column.justify-content-center.text-center.p-4
        div.align-self-center.p-2
            h3(id="header").text-dark.p-0.m-0.mb-3 Please Log In

            form(id="form" method="POST" action="/login")
                input(id="email" type="email" name="email" placeholder="Email Address" required autofocus).form-control.form-control-lg.mb-3
                input(type="password" name="password" placeholder="Password" required).form-control.form-control-lg.mb-3
                input(id="name" type="name" name="name" placeholder="Name" required).form-control.form-control-lg.mb-3.d-none

                button(id="submit" type="submit").btn.btn-lg.btn-primary Log In

                p.m-3
                    a(href="#" id="show-signup") Create New Account?
                    a(href="#" id="show-login").d-none Have Account Already?

            //- error handling
            //- if error
            //-     p.text-danger= error

            //- signup
            //- form(method="POST" action="/login")
            //-     if error
            //-         p.text-danger= error

            //-     input(type="email" name="username" id="inputEmail" placeholder="Email Address" required autofocus).form-control.form-control-lg.mb-3
            //-     input(type="password" name="password" id="inputPassword" placeholder="Password" required).form-control.form-control-lg.mb-3

            //-     button(type="submit").btn.btn-lg.btn-primary.btn-block Login