extends layout

block style
    style.

block content
    main.text-center.p-4.d-flex.justify-content-center
        div.align-self-center
            h1 🧱
            p.text-primary= 'We are working on it. Coming soon!'