img.logo {
    height: 50px;
    width: 50px;
}

#provider img {
    height: 20px;
}

.position {
    /* border: 1px solid black;
    border-radius: 10px; */
}

.position p {
    margin: 0;
}

/* override autocompletejs */
/* https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.css */
.autoComplete_wrapper {
    display: block !important;
    /* position: relative; */
}
.autoComplete_wrapper > input {
    width: 100% !important;
    height: auto !important;
    border: 1px solid #ced4da !important;
    color: #212529 !important;
}
.autoComplete_wrapper > input::placeholder {
    color:#6c757d !important;
}
.autoComplete_wrapper > ul > li mark {
    color: blue !important;
}
mark {
    padding: 0 !important;
}