img.exchange {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    object-fit: contain;
}

table img {
    text-align: left;

    max-height: 18px;
    width: auto;
    max-width: 80px;

    object-fit: contain;
}

/* no more tables breakpoint is 800px */
@media only screen and (min-width: 800px) {
    /* change top and bottom cell padding to 16x */
    .no-more-tables td {
        /* bootstrap default padding is 8px */
        padding: 16px 8px 16px 8px;
    }
}

.status i {
    font-size: 8px;
}