img.exchange {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    object-fit: contain;
}

table img {
    text-align: left;

    max-height: 20px;
    width: auto;
    min-width: 20px;

    object-fit: contain;

    margin-right: 6px;
    vertical-align: middle;
}

td span {
    vertical-align: middle;
}

/* no more tables breakpoint is 800px */
@media only screen and (min-width: 800px) {
    /* change top and bottom cell padding to 16x */
    .no-more-tables td {
        /* bootstrap default padding is 8px */
        padding: 16px 8px 16px 8px;
    }
}

i.status {
    font-size: 10px;
}