/* header */

header a        { color: #999; transition: ease-in-out color .15s; }
header a:hover  { color: #fff; }
header img      { width: auto; height: 40px; }

/* footer */

footer a        { color: #000; transition: ease-in-out color .15s; }
footer a:hover  { color: rgb(230, 72, 106); }
footer img      { width: auto; height: 20px; }

/* links */

a:hover { text-decoration: none; }

/* .flex-equal */

.flex-equal > * {
    -ms-flex: 1;
    flex:     1;
}